
    <!--</div>-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; 2017 <a href="/" id="footera"> Mohammed Junaid</a></p>
                </div>
                <div class="col-md-6 social">
                    <ul>
                        <li><a href="https://plus.google.com/+MdJunaid-G-plus"><i class="fa fa-google-plus fa-2x"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/mohd-junaid-abbas-02252113b" ><i class="fa fa-linkedin fa-2x"></i></a></li>
                        <li><a href="https://www.facebook.com/mohd.junaid.71465"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href="https://github.com/md-Junaid" ><i class="fa fa-github fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery CDN -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    
    <!-- Bootstrap JS CDN -->
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous">
    </script>
    
    <!-- Custom JS for search feature -->
        <script src="/scripts/spyscroll.js" async defer></script>
        <script>
                $(function() {
                    	$('img').on('click', function() {
                			$('.enlargeImageModalSource').attr('src', $(this).attr('src'));
                			$('#enlargeImageModal').modal('show');
                		});
                });
        </script>
   </body>
</html>