<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto|Meddon|Sacramento|Open+Sans" rel="stylesheet">
        <link rel="shortcut icon" href="http://findicons.com/files/icons/2580/android_icons/72/agent.png" />
        <title>Mohd Junaid-Portfolio</title>
    </head>
    <body>
        <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-family:Sacramento; font-size:1.9em;">MJ</a>
        </div>
        <div class="navbar-collapse collapse pull-right" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#section1">About</a></li>
                <li><a href="#section3">Projects</a></li>
                <li><a href="#section4">Contact</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>