<% include partials/header %>

                <li><a href="#section1">About</a></li>
                <li><a href="#section3">Projects</a></li>
                <li><a href="#section4">Contact</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>
    
<section class="container-fluid overlay" id="section1">
    <div id="lead-content">
        <h1>Mohammed Junaid</h1> 
        <h3><em>-Full Stack Web Developer</em></h3>          
            <a href="https://doc-0k-8o-docs.googleusercontent.com/docs/securesc/nb5oq9t9mt03bfvcukk467tlg4msp9lb/58lihd6r0bfupd4n4gsptbf5au2oe67e/1505131200000/03625182041565964646/03625182041565964646/0BzVPmIm8XLdeUnpiUVJlbjZFZmM?e=download&nonce=95mc9ivce0t7o&user=03625182041565964646&hash=19eu0n9dn2drikpcebnjm92iqkrfmkar" class="btn btn-default btn-rounded">Download Resume</a>
    </div>
    <div id="lead-down">
        <span>
            <a href="#section2" style="color:white;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </span>
    </div>
</section>

<section class="container-fluid" id="section2">
    <div class="text-center"><h2 class="heading">About Me</h2></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="pull-right" id="myimg" src="/images/junaid.jpg" alt="portfolio image">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2><strong>— I'm Mohammed Junaid Abbas,</strong></h2>
                <p>a Web Developer and Designer enthusiast, graduate of Information Technology. My skills are broad: from ux to design, front end to back
                end development. I enjoy each aspect, and love building sites from start to finish, for clients all over the world. Feel free to look at 
                my recent projects on Projects Page.</p>
                <h3>What I do</h3>
                <ul>
                    <li>Responsive Websites</li>
                    <li>Front-end Development</li>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                                <ul>
                                    <li>jQuery</li>
                                    <li>Angular Js</li>
                                </ul>
                        </ul>
                    <li>Back-end Development</li>
                        <ul>
                            <li>Node Js</li>
                            <!--<li>APIs</li>-->
                            <li>NoSQL</li>
                        </ul>
                </ul>
                <!--<p>I'm also available for Freelance work, you can contact me <a href="#section4" class="links">here</a>.</p>-->
            </div>
        </div>   
    </div>
</section>

<section class="container-fluid" id="section3">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="/images/yelp.jpg">
                </div>
                <div class="project-info">
                    <h3>YelpCamp</h3>
                    <p>
                        YelpCamp is a project completed as a part of Colt Steele's udemy course. YelpCamp lets user &nbsp &nbsp &nbsp &nbsp post details of specific campground
                        site with an image, price and location of campground. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspUsers can also comment on campground posts, comments and campground 
                        details &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp can be edited or deleted by the user who posted it. 
                    </p>
                    <a target="_blank" href="https://shrouded-mesa-54500.herokuapp.com/" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                    </a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="/images/bar-chart1.jpg">
                </div>
                <div class="project-info">
                    <h3>Sentiment Analysis of Tweets using Python</h3>
                    <p>
                        Sentiment Analysis of Tweets is an academic project, where user collects tweets using Twython package which are then converted to 
                        ASCII text. Sentiment Analysis on the ASCII text calssifies the polarity of a given text, sentence to know whether the expressed 
                        opinion in a sentence is positive, negative or neutral.
                    </p>
                    <a target="_blank" href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">Download Project</button>
                        </a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="http://junaid.co.in/images/project.jpg">
                </div>
                <div class="project-info">
                    <h3>BlogIt</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a target="_blank" href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                        </a>
                </div>
            </div>
            <a href="/all_projects">
                <button class="btn btn-success btn-lg" id="btn-view">Projects Page &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </a>
        </div>
    </div>
</section>

<section class="container-fluid" id="section4">
    <div class="text-center"><h2 class="heading">Contact</h2></div>
        
    <div class="row">
        <form action="https://formspree.io/md.junaid028@gmail.com" method="POST">
            <div class="container">
                <div class="text-center"><p id="txt">I'm available for remote work - if you would like to build something together, get in touch?</p></div>
                <div class="col-md-4">
                        <div class="forms form-group">
                            <label>Name:</label>
                            <input class="form-control" type="text" name="name" placeholder="Your name here..">
                        </div>
                        <div class="forms form-group">
                            <label>Email:</label>
                            <input class="form-control" type="email" name="_replyto" placeholder="your email here...">
                        </div>
                        <div class="forms form-group">
                            <label>Subject:</label>
                            <textarea class="form-control" type="text" name="subject" style="max-width:100%; max-height:80px;height:80px;" placeholder="subject.."></textarea>
                        </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Project details:</label>
                        <textarea class="form-control" id="txtarea" type="text" name="message" placeholder="message...."></textarea>
                    </div>
                    <button class="btn btn-md btn-primary pull-right">Send</button>
                </div>        
            </div>
        </form>
    </div>  
    
</section>

<% include partials/footer %>