<% include partials/header %>

                <li><a href="#section1">About</a></li>
                <li><a href="#section3">Projects</a></li>
                <li><a href="#section4">Contact</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>
    
<section class="container-fluid overlay" id="section1">
    <div id="lead-content">
        <h1>Mohammed Junaid</h1> 
        <h3><em>-Full Stack Web Developer</em></h3>          
            <a href="#" class="btn btn-default btn-rounded">Download Resume</a>
    </div>
    <div id="lead-down">
        <span>
            <a href="#section2" style="color:white;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </span>
    </div>
</section>

<section class="container-fluid" id="section2">
    <div class="text-center"><h2 class="heading">About Me</h2></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="pull-right" src="/images/junaid.jpg" alt="portfolio image">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2><strong>Hello, I'm Mohammed Junaid Abbas.</strong></h2>
                <p>I am a Web Developer and Designer enthusiast.</p>
                <p>Recently graduated from MJCET Hyderabad, India.</p>
                <p>I'm available for remote work - if you would like to build something together, get in touch?</p>
            </div>
        </div>   
    </div>
</section>

<section class="container-fluid" id="section3">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="http://junaid.co.in/images/project.jpg">
                </div>
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                        </a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="http://junaid.co.in/images/project.jpg">
                </div>
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                        </a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="http://junaid.co.in/images/project.jpg">
                </div>
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                        </a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="http://junaid.co.in/images/project.jpg">
                </div>
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#" style="text-decoration:none;">
                        <button class="btn btn-default btn-rounded">View Project</button>
                        </a>
                </div>
            </div>
            <a href="/all_projects">
                <button class="btn btn-success btn-lg" id="btn-view">View All Projects &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </a>
        </div>
    </div>
</section>

<section class="container-fluid" id="section4">
    <div class="text-center"><h2 class="heading">Contact</h2></div>
        
    <div class="row">
        <form action="https://formspree.io/md.junaid028@gmail.com" method="POST">
            <div class="container">
                <div class="text-center"><p id="txt">I'm available for remote work - if you would like to build something together, get in touch?</p></div>
                <div class="col-md-4">
                        <div class="forms form-group">
                            <label>Name:</label>
                            <input class="form-control" type="text" name="name" placeholder="Your name here..">
                        </div>
                        <div class="forms form-group">
                            <label>Email:</label>
                            <input class="form-control" type="email" name="_replyto" placeholder="your email here...">
                        </div>
                        <div class="forms form-group">
                            <label>Subject:</label>
                            <textarea class="form-control" type="text" name="subject" style="max-width:100%; max-height:80px;height:80px;" placeholder="subject.."></textarea>
                        </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Project details:</label>
                        <textarea class="form-control" id="txtarea" type="text" name="message" placeholder="message...."></textarea>
                    </div>
                    <button class="btn btn-md btn-primary pull-right">Send</button>
                </div>        
            </div>
        </form>
    </div>  
    
</section>

<% include partials/footer %>