<% include partials/header %>
<li><a href="/">Home</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<div id="s1" class="overlay text-justify">
        <div class="col-md-3" style="padding-top:80px; padding-left:100px; padding-right:0; margin:0;width:20%">
            <img class="img-circle img-responsive pull-right" src="https://i.imgur.com/0oO0a2Z.jpg" style="max-height:220px;">
        </div>
        <div class="col-md-9" id="pgDetails">
            <h2 style="color:#ddd;">Hey there, welcome to my projects page.</h2>
            <h4 style="color:#bcbcbc;">Be sure to check all my projects. Although most of the projects are small and not worthy of show off, but guess what?
            I just completed my Web Developer BootCamp and I will be doing more fun and exciting projects to update this page and also 
            my Github repository.</h4>
            <h4 style="color:#bcbcbc;">Want to hire me? Contact me <a href="/#section4">here</a>.</h4>
        </div>
    </div>
<section id="section2">
    <div class="container">
        <div class="headings">
            <h1>Project Name.</h1>
        </div>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr>
        <div class="headings">
            <h1>Project Name.</h1>
        </div>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr>
        <div class="headings">
            <h1>Project Name.</h1>
        </div>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr>
        <div class="headings">
            <h1>Project Name.</h1>
        </div>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
    </div>
</section>

<% include partials/footer %>