<% include partials/header %>
<li><a href="/">Home</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<div id="s1" class="text-justify">
    <div class="container">
        <div class="col-md-2" style="padding-right:0px;">
            <div class="myimg pull-right"><img class="img-responsive" src="https://i.imgur.com/0oO0a2Z.jpg"></div>
        </div>
        <div class="col-md-10">
            <div id="pgDetails">
                <h2>Hey there, welcome to my projects page.</h2>
                <p>Be sure to check all my projects. Although most of the projects are small and not worthy of show off, but guess what?
                I just completed my Web Developer BootCamp and I will be doing more fun and exciting projects to update this page and also 
                my Github repository.</p>
                <p>Want to hire me? Contact me <a href="/#section4">here</a></p>
            </div>
        </div>
    </div>
    </div>
<section id="section2">
    <div class="container">
        <h2 class="headings">YelpCamp</h2>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr class="hr-style">
        <h2 class="headings">BlogIt!</h2>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr class="hr-style">
        <h2 class="headings">Sentiment Analysis of Twitter Data</h2>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
        <hr class="hr-style">
        <h2 class="headings">Project Name</h2>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="images">
            <p>Project Images.</p>
        </div>
    </div>
</section>

<% include partials/footer %>