<% include partials/header %>
<li><a href="/">Home</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<div id="s1" class="text-justify">
    <div class="container">
        <div class="col-md-10">
            <div id="pgDetails">
                <h2>Hey there, welcome to my projects page.</h2>
                <p>Be sure to check all my projects. You can download the project files and also fork it on github, I will be updating this page
                with more fun projects. If you have any doubts regarding my projects we can get social, contact me on facebook, google or Linkedin.</p>
                <p>Want to hire me? Contact me <a href="/#section4">here</a></p>
            </div>
        </div>
    </div>
    </div>
<section id="section2">
    <div class="container">
        <h2 class="headings">Sentiment Analysis of Twitter Data</h2>
        <div class="descriptions">
            <p>This project is done using Python where we collect thousands of tweets using Twython API on a particular topic (for Eg: movies, political issues, sports etc.,). 
            We chose to do sentiment analysis on USA elections as it was the much-debated topic of 2016 "who would be better for USA's Presidency either Hillary Clinton or Donald Trump? ". 
            We also collected tweets on Bernie Sanders just to compare the sentiments among the three. Text filtering and analysis are done using Python inbuilt libraries.</p>
            <p>The output of analysis shows how much positive, negative and neutral support does the candidates get and compare them to show how much percentage of people are happy with the candidate. </p>
            <h4>Team Members:</h4>
                <ul>
                    <li><p><strong>K Chandrahas Reddy</strong> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- kchandrahas.1996@gmail.com</p></li>
                    <li><p><strong>Mohammed Talha Fareed</strong>&nbsp - talhafareed321@gmail.com</p></li>
                    <li><p><strong>Mohammed Junaid Abbas</strong> - md.junaid028@gmail.com</p></li>
                </ul>
        </div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="/images/bar-chart.jpg" class="projectimg" alt="project output image"></div>
                <div class="col-md-6 col-xs-12"><img src="/images/word-cloud.jpg" class="projectimg" alt="project output image"></div>
                <div class="col-md-12"><img src="/images/table.jpg" alt="project output image" id="projectImg"></div>
            </div>
        <hr class="hr-style">
        <!--<h2 class="headings">Zombie Apocalypse FPS Game</h2>-->
        <!--<div class="descriptions">-->
        <!--    <p>Project Description.</p>-->  
        <!--</div>-->
        <!--<div class="row">-->
        <!--        <div class="col-md-6 col-xs-12"><img src="" class="projectimg" alt="project output image"></div>-->
        <!--        <div class="col-md-6 col-xs-12"><img src="" class="projectimg" alt="project output image"></div>-->
        <!--</div>-->
        <hr class="hr-style">
        <h2 class="headings">RGB Color Game</h2>
        <div class="descriptions">
            <p>The RGB Color game is a color guessing game. Here the user is given an RGB(x,x,x) value to guess the correct color 
            for the given RGB value among the given colors, the user can also select difficulty level either easy or hard.</p> 
            <p>This game is a useful exercise for web designers as they could get an idea of how RGB values work and so to get a grip on 
            guessing approximate values to the desired color. This project is done using HTML5, CSS3 and Vanilla JavaScript. You can download 
            this project <a href="#" class="links">here</a>.</p>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <iframe src="/projects/Color Project/colorGame.html" width="100%" height="650" id="rgbFrame">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
        </div>
        <hr class="hr-style">
        <h2 class="headings">Patatap Clone</h2>
        <div class="descriptions">
            <p><a href="https://www.patatap.com" class="links">Patatap</a> is a virtual instrument website with accompanying graphics that use keyboard 
            buttons to create sound. I have developed a clone website same as Patatap website using 
            <a href="https://github.com/paperjs/paper.js" class="links">paper.js</a> and 
            <a href="https://github.com/goldfire/howler.js#documentation" class="links">howler.js</a>, where paper.js is used for flat animations and 
            howler.js is audio library which assigns each key a particular sound. This clone project works only on PC or laptops browsers.</p>
            <p>View <a href="http://patatapclone.bitballoon.com/" class="links">PatatapClone</a> project. You can also download 
            the whole project <a href="#" class="links">here</a>.</p>
        </div>
        <div class="row">
                <div class="col-md-6 col-xs-12"><img src="/images/patatap1.JPG" class="projectimg" alt="project output image"></div>
                <div class="col-md-6 col-xs-12"><img src="/images/patatap2.JPG" class="projectimg" alt="project output image"></div>
        </div>
        <hr class="hr-style">
        <h2 class="headings">YelpCamp</h2>
        <div class="descriptions">
            <p>The YelpCamp application is a fully functional Web App with REST API(with CRUD capabilities) and passport js to authenticate users. 
            The user can register, login and can also add, edit & delete campgrounds and comments. Google Maps API is used to let User add the location 
            of the campground All the data associated with the User such as campgrounds, comments and user details are stored in Mlab database(previously 
            known Mongo lab). This web app is developed using MongoDb, Express, and Node.js or MEN Stack(MEAN without Angular).</p>
            <p>View the project <a href="https://shrouded-mesa-54500.herokuapp.com/" class="links">YelpCamp</a>. Download Project <a href="#" class="links">here</a>.</p>
        </div>
        <div class="row">
                <div class="col-md-6 col-xs-12"><img src="/images/yelp1.jpg" class="projectimg" alt="project output image"></div>
                <div class="col-md-6 col-xs-12"><img src="/images/yelp2.jpg" class="projectimg" alt="project output image"></div>
        </div>
        <hr class="hr-style">
        <h2 class="headings">BlogIt!</h2>
        <div class="descriptions">
            <p>Project Description.</p>
        </div>
        <div class="row">
                <div class="col-md-6 col-xs-12"><img src="" class="projectimg" alt="project output image"></div>
                <div class="col-md-6 col-xs-12"><img src="" class="projectimg" alt="project output image"></div>
        </div>
    </div>
</section>
    
    <!--start modal for images-->
    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
          </div>
        </div>
    </div>
    <!--end modal for images-->

<% include partials/footer %>