<% include partials/header %>
<li><a href="/">Home</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<section id="section1">project</section>
<section id="section2">page</section>

<% include partials/footer %>