html,body {
	height:100%;
    background:center no-repeat fixed url('https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
    font-family: Lato;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#279ddd;
	border-color:#279ddd;
    color:#fff;
    border:0;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#168ccc;
}

.navbar-trans a{
    color:#fefefe;
}

.navbar{
    margin-bottom: -1px;
    border-color: #168ccc;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:10%;
    font-size:70px;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
  
/*#section1 {*/
/*	background-color: transparent;*/
/*    color:#dedeff;*/
/*}*/
  
#section2 {
	background-color: #e5e5ef;
    color:#686868;
}

#section2 img{
    max-height: 360px;
    /*margin-left: 200px;*/
    /*margin-top: 50px;*/
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
}
.panel-body{
    padding:0.5px 0px 0px 0px;
}

.panel-body img{
    width: 100%;
}

#section4 {
	background-color: #eee;
}

#section1,#section7,#section7 a {
    color:#f5f5f5;
}

/*#section6 {*/
/*	background-color: #168ccc;*/
/*    color:#ddd;*/
/*}*/

.forms{
    max-width: 100%;
}

#txtarea{
    height:177px;
    max-height: 177px;
    width: 65%;
    max-width:85%;
}

/*#section4 .container{*/
/*    padding-top: 60px;*/
/*}*/

#txt{
    /*text-align:center;*/
    color:#777;
    font-size:1.5em;
    /*font-family: sans-serif;*/
    padding-bottom: 20px;
}

.buttons{
    border: 0;
}

#cont{
    padding-left: 200px;
}

footer {
	background-color:#494949;
    color:#ddd;
    min-height:80px;
    padding-top:10px;
    /*padding-bottom:40px;*/
    text-align: center;
}

footer h5{
    padding-top: 15px;
    padding-left:25px;
}

footer p{
    float: right;
    padding-top: 15px;
    letter-spacing: 1.2em;
}

.fa-twitter:hover{
    color:#0084b4;
}

.fa-google-plus:hover{
    color:#d34836;
}

.fa-facebook:hover{
    color:#3b5998;
}

.fa-github:hover{
    color:#333;
}

.fa-linkedin:hover{
    color:#0077B5;
}

/*#footerh5{*/
/*    float: left;*/
/*    padding-left: 225px;*/
/*    font-size: 1.2em;*/
/*    color: #aaa;*/
/*}*/

#footera {
    padding:3px;
    color:#ccc;
}

#footera:hover {
    background-color:transparent;
	color:#fff;
	text-decoration: none;
}