html,body {
	height:100%;
    background:center no-repeat fixed url('https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
    font-family: Lato;
}

/* navigation bar starts here */

.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#555;
	/*border-bottom: 3px solid #4a8aad;*/
    color:#fff;
    border: 0;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#4a8aad;
}

.navbar-trans a{
    color:#fefefe;
}

.navbar{
    margin-bottom: -1px;
    border-color: #4a8aad;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

#logo a{
    font-family:Sacramento; 
    font-size:1.9em;
}

/*#logo a:hover{*/
/*    color: rgb(33,125,187);*/
/*}*/

/* navigation bar ends here */

/* Sections start here */

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
    letter-spacing: 0.04em;
}

.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}

.hr-style {
    margin-top: 25px;
    border: 0;
    height: 1px;
    background: #494949;
    background-image: linear-gradient(to right, #ccc, #494949, #ccc);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); 
}

/* -------------------------- SECTIONS START HERE ---------------------------- */

#section1 h3{
    color: #ccc;
    margin-top:0px;
}

/* /all_projects page section 1  starts here */
#s1{                            
    padding-top:70px;  
    padding-bottom:50px; 
    height: 400px;
    background-color: rgba(33,125,187,0.7);
    color:#fff;
    letter-spacing: 0.04em;
    border-bottom: 2px solid #dcd9d9;
    font-size: 1.1em;
}

#s1 a{
    text-decoration: none;
    color: #0d3;
}

#s1 a:hover{
    text-shadow: 0px 0px 13px rgba(0, 255, 0, 1);
}

/*.myimg{*/
/*    padding-top:70px;*/
/*}*/

/*.myimg img{*/
/*    border-radius: 50%;*/
/*    width: 100%;*/
/*    float:right;*/
/*}*/

#pgDetails{
    padding-left: 0px;
    margin-left:0px;
    padding-top:80px;
    color:#bcbcbc;
}

#pgDetails h2{
    color:#ddd;
}
/* /all_projects page section 1 ends here */

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-content h1{
    margin-bottom:0;
    font-size: 4.5em;
}

.btn-rounded{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    font-size: 1.2em;
    margin-top: 25px;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.btn-rounded:hover{
    background-color: #fff;
    color: #333;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff;
    transition: 1s ease all;
}

#lead-down i {
    -webkit-animation: pulsate 1.5s ease;
    animation: pulsate 1.5s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    padding-top: 6px;
}

#lead-dwon i:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin:0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #aaa;
    text-align: center;
    transition: 1s ease all;
}

/* section 1 ends here */
  
/* section 2 starts here */
 
#section2 {
	background-color: #e5e5ef;
    color:#777;
    border-top: 2px solid #dcd9d9;
}

#section2 #myimg{
    max-height: 360px;
    -webkit-box-shadow: -2px 4px 30px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 30px 2px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 30px 2px rgba(0,0,0,0.75);
}

#section2 .projectimg{
    width:100%;
    max-height: 360px;
    margin: 25px auto 0px auto;
    -webkit-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    -moz-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
}

#section2 #projectImg{
    width:100%;
    max-height: 360px;
    margin: 25px auto 0px auto;
    -webkit-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    -moz-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
}

.headings {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    margin:0 0 30px 0;
}

#section2 #rgbFrame{
    margin-left: auto; 
    margin-right:auto;
    border:2px solid #ccc;
    margin: 25px auto 0px auto;
    -webkit-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    -moz-box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
    box-shadow: 1.5px 1.5px 19px 0px rgba(122,179,222,0.75);
}

.links{
    text-decoration: none;
    color: #0096e8;
}

.links:hover{
    text-shadow: 0px 0px 6px rgba(0, 99, 211, 1);
    text-decoration: none;
    color: #0096e8;
}

/* section 2 ends here */

/* section 3 starts here */
  
#section3 {
    background-color: rgba(33,125,187,0.7);
    padding:50px 15px;
    border-bottom: 2px solid #dcd9d9;
    border-top: 2px solid #dcd9d9;
    text-align: center;
}

#section3 h2 {
    color: #eee;
    margin-bottom: 50px;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin:0 0 30px 0;
}

.heading:after{
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 40%;
    left: 0;
    right: 0;
    margin:0 auto;
    background: #444;
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 90px auto;
    overflow: hidden;
    background: #444;
    border-radius: 4px;
    -webkit-box-shadow: 6px 7px 33px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 33px 3px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 33px 3px rgba(0,0,0,0.75);
}

.project-image{
    float: left;

}

.project-info {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 300px;
    background: transparent;
    padding: 15px;
}
 
.project-info h3{
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    margin: 0 0 15px 0;
}

.project-info p{
    color: #ccc;
    margin: 0 0 15px 0;
    font-size: 0.9em;
}

#btn-view{
    display: inline-block;
    color: #eee;
    background-color: #494949;
    border: 2px solid #666;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#btn-view:hover{
    background-color: #666;
}

/* section 3 ends here */

/* section 4 starts here */

#section4 {
	background-color: #e5e5ef;
	border-bottom: 2px solid #dcd9d9;
}

#section4 h2{
    margin-bottom: 50px;
    /*left: 50%;*/
}

#section4 label {
    color:#888;
}

#section4 button{
    margin-right: 20%;
    padding: 10px 18px;
    display: inline-block;
    color: #eee;
    background-color: #494949;
    font-size: 1.2em;
    width: 20%;
    border: 3px solid #666;
    border-radius: 30px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#section4 button:hover{
    background-color: #666;
}

#txt{
    /*text-align:center;*/
    color:#777;
    font-size:1.5em;
    /*font-family: sans-serif;*/
    padding-bottom: 20px;
}

.forms{
    max-width: 100%;
}

#txtarea{
    height:230px;
    max-height: 230px;
    width: 80%;
    max-width: 100%;
}

/* section 4 ends here */

/* section 5,6 removed */

/* section 7 starts here */

#section1,#section7,#section7 a {
    color:#f5f5f5;
    background-color: rgba(33,125,187,0.7);
}

#cont a{
    padding-left: 1em;
}


.fa-twitter:hover{
    color:#0084b4;
}

.fa-google-plus:hover{
    color:#d34836;
}

.fa-facebook:hover{
    color:#3b5998;
}

.fa-github:hover{
    color:#333;
}

.fa-linkedin:hover{
    color:#0077B5;
}

/* section 7 ends here */


/*  ------------------------- SECTIONS END HERE ------------------------------ */ 

/* --------------------- Footer starts here ------------------- */

footer {
	background-color:#494949;
    color:#ddd;
    min-height:80px;
    padding-top:10px;
}

footer a:hover{
    text-decoration: none;
}

.copyright {
    padding: 20px;
}

.copyright a{
    color: #bcbcbc;
}

.social {
    text-align: right;
}

.social li {
    padding-top: 10px;
    display: inline-block;
    font-size: 0.9em;
    list-style: none;
}

.social a {
    display: block;
    color: #aaa;
    padding: 10px;
}

/* ------------------- Footer ends here -------------------------*/

/* ---------------------Animations and Media Queries------------ */
@keyframes pulsate{
    0%{
        -webkit-transform:scale(1, 1); 
         transform:scale(1, 1);
        
    } 50% { 
        -webkit-transform:scale(1.2, 1.2);
        transform:scale(1.2, 1.2);
    } 100% {
        -webkit-transform:scale(1, 1);
        transform:scale(1, 1)
        }
    
}

@media only screen and (max-width: 992px){
    #section1{
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    #lead-down{
        display: none;
    }
    #lead-content{
        position: relative;
        -webkit-transform: none;
        transform: none;
        left: auto;
        top: auto;
    }
    #lead-content h1{
        font-size: 3em;
    }
    #lead-content h3{
        font-size: 1.75em;
    }
    #section2 h2{
        font-size: 1.8em;
    }
    #section2 p{
        font-size: 0.9em;
    }
    #section2 img{
        float: left!important;
        margin-right: 15px;
    }
    #txtarea{
        width: 100%;
    }
    #section4 button{
        margin-right: 0;
        /*width: 100%;*/
    }
    .copyright{
        text-align: center;
        padding-left: 42px;
    }
    .social{
        text-align: center;
        padding-right: 40px;
    }
    .myimg img{
        display:none;
    }
    #pgDetails h2{
        font-size: 1.75em;
    }
    #pgDetails{
        font-size: 0.95em;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 768px){
    #lead-content h1{
        font-size: 2em;
    }
    #lead-content h3{
        font-size: 1.3em;
    }
    #lead-content a{
        padding: 10px 20px;
    }
    #section2 h2{
        font-size: 1.6em;
    }
    #section2 img{
        width: 40%;
    }
    .project-image{
        display: none;
    }
    .project-info{
        position: relative;
        margin:0;
        top: auto;
        -webkit-transform:none;
        transform: none;
    }
    #section4 button{
        margin-right: 0;
        width: 100%;
    }
    #pgDetails h2{
        font-size: 1.7em;
    }
    #pgDetails{
        font-size: 0.9em;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 480px){
    #lead-content h1{
        font-size: 1.5em;
    }
    #lead-content h3{
        font-size: 1em;
    }
     #section2 h2{
        font-size: 1.25em;
    }
    #section2 p{
        font-size: 0.9em;
    }
    #section2 img{
        width: 60%;
        /*height: 100%;*/
    }
    #lead-content a{
        font-size: 0.9em;
        padding: 5px 10px;
    }
    #pgDetails h2{
        font-size: 1.35em;
    }
    #pgDetails{
        font-size: 0.9em;
    }
}